<h2>The Passenger</h2>
<p>Passenger name: <%= @passenger.name %> </p>
<p>Passenger phone numer: <%= @passenger.phone_num %>

<div>

<% if @passenger.trip.last.rating == nil%>
  
  <%= form_with url: complete_trip_path(@passenger.id), method: :patch, class: 'trip-form' do |f| %>
    <%= f.label :rating, "Rating" %>
    <%= f.number_field :rating, in: 1..5%>
    <%= f.submit "Rate your trip"%>
  <% end %>
  
<%else%>
  <button><%= link_to "Request a trip", passenger_trips_path(@passenger), method: :post %></button>

<% end%>
</div>
<h2>Trips</h2>

<table class="table">
  <thead class="thead">
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  <% @trips.each do | trip| %>
    <tr>
      <td><%= link_to trip.id, trip_path(trip.id) %></td>
      <td><%= trip.date %></td>
      <td><%= link_to trip.driver.name, driver_path(trip.driver.id)  %></td>
      <td><%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %></td>
      <td><%= (trip.cost)/100 %></td>
      <td><%= trip.rating %></td>
      <td><%= link_to "Delete", trip_path(trip), method: :delete, data: { confirm: "Confirm deletion?" } %></td>
      <td><%= link_to "Edit", edit_trip_path(trip.id)%></td> 
    </tr>
    <% end%>

  </tbody>
</table>