<% if @driver.errors.messages.any?%>
  <section class="error-messages">
    There were some issues with your submission
    <ul>
      <% @driver.errors.messages.each do |column, problem_list| %>
        <% problem_list.each do |problem| %>
          <li>
            <%= column %>: <%= problem %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_with model:@driver, class: 'driver-form' do |f| %>

<div>
  <%= f.label :name, "Driver's name:"%>
  <%= f.text_field :name, placeholder: "Jane Doe"%>
</div>

<div>
  <%= f.label :vin, "VIN:" %>
  <%= f.text_field :vin, placeholder: "xxxxxxxxxxxxxxxxx"%>
</div>

<%= f.submit button_text%>

<% end %>