<h2>Driver's Details</h2>
<h3>Name: <%= @driver.name %> </h3>
<p>VIN: <%= @driver.vin %></p>
<p>Average rating: <%= @driver.avrg_rating %></p>
<p>Total earnings: <%= @driver.total_earnings %></p>

<button><%= link_to (@driver.available ? "Unavailable" : "Available"), available_path(@driver), method: :patch %></button>
<h2>Driver's Trips</h2>

<table >
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.id, trip_path(trip.id) %></td>
        <td><%= trip.date %></td>
        <td><%= link_to trip.driver.name, driver_path(trip.driver.id) %></td>
        <td><%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %></td>
        <td><%= sprintf("%.2f",trip.cost) %></td>
        <td><%= trip.rating %></td>
        <td><%= link_to "Delete", trip_path(trip), method: :delete, data: { confirm: "Confirm deletion?" } %></td>
        <td><%= link_to "Edit", edit_trip_path(trip.id)%></td> 
      </tr>
    <% end%>
  </tbody>
</table>
