<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <%= link_to "Neber" %>
          </li>
          <li>
              <%= link_to "List Drivers", drivers_path %>
              <%= link_to "Add a Driver", new_driver_path %>
          </li>
          <li >
              <%= link_to "List Passengers", passengers_path %>
              <%= link_to "Add a Passenger", new_passenger_path %>
          </li>
        </ul>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
    &copy; Neber 2019
    </footer>
  </body>
</html>
