<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div><%= link_to "Neber" %></div>
          
        <div class="dropdown">
        <input type="checkbox" id="checkbox-toggle">
          <label class="nav-label" for="checkbox-toggle">Drivers</label>
            <ul class="dropdown-ul">
              <li class="dropdown-li"><%= link_to "List Drivers", drivers_path %></li>
              <li class="dropdown-li"><%= link_to "Add a Driver", new_driver_path %></li>
            </ul>
        </div>

        <div class="dropdown">
          <input type="checkbox" id="checkbox-toggle2">
            <label class="nav-label" for="checkbox-toggle2">Passengers</label>
              <ul class="dropdown-ul">
                <li class="dropdown-li"><%= link_to "List Passengers", passengers_path %></li>
                <li class="dropdown-li"><%= link_to "Add Passenger", new_passenger_path %></li>
              </ul>
        </div>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
      &copy; Neber 2019
    </footer>
  </body>
</html>
